html, body {
  font: 14px/1.3 Tahoma, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #808080;
}

a {
  color: #2525ff;
  text-decoration: none;

}

// Header Block Styles Start ----------------------------------------------------------------------
.b-header {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  margin: 0 0 30px;
}

h1 {
  width: 25%;
  text-align: center;
  font-size: 80px;
  margin: auto;
  padding: 0;
  display: inline-block;
  line-height: 1.3;
  letter-spacing: normal;
  color: #C80;
  vertical-align: middle;
  opacity: 1;
  background: url("http://uploads.ru/t/G/Q/C/GQCY1.jpg");
}
.b-logo {


}
.b-main-menu {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  padding: 0;
  list-style: none;

}
.border {
  border-left: double;
  border-right: double;

}
li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.3;
  padding: 0 15px;
}

// Main Block Styles Start ------------------------------------------------------------------------
.b-main {
  height: 300px;
  font-size: 72px;
  text-align: center;
}

// Footer Block Styles Start ----------------------------------------------------------------------


.b-footer {
  text-align: center;

}