* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px/1.3 Tahoma, Arial, sans-serif;
}
h1 {
  margin: 0;
}

#main {
  min-height: 100%;
}

.b-logo {
  font-size: 10px;
  font-style: italic;
  color: #606465;


  a {
    display: block;
    width: 186px;
    height: 56px;
    background: transparent url("../img/logo.png") 50% 50% no-repeat;
    text-indent: -9999px;
  }
}

.b-header {
  padding: 25px;
  background-color: #e0edf2;
}

.wrp-header {
  width: 960px;
  overflow: hidden;
  margin: auto;
}

[class*="b-col"] {
  float: left;
  padding: 0 10px;
}

.b-col3 {
  @min-width: 100%/12;

  width: @min-width*3;
}

.b-col6 {
  @min-width: 100%/12;

  width: @min-width*6;
}

.b-main-menu {
  margin: 10px;
  padding: 0;
  list-style: none;

  li {
    float: left;

    a {
      display: block;
      text-decoration: none;
      padding: 10px 25px;
      color: white;
      background-color: #14a4d0;

      &:hover {
        background-color: #0c6e93;
      }
    }
  }

}

.b-menu-rad-left {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
}

.b-menu-rad-right {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.b-user-auth {
  margin: 10px;
  padding: 0;
  list-style: none;

  li {
    float: left;

    a {
      padding: 10px;
      color: white;
      text-decoration: none;
      background-color: #ff9a17;
      display: block;

      &:hover {
        background-color: #9b5707;

      }
    }
  }
}

